<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alter Recipe</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>

</head>
<body>
        <a href="/"style="font-size:50px" >&#128029; </a>

<form  method="post" enctype="multipart/form-data">
    <dl>
        <labe>Recipe update</labe>
        <p>
            <input type="file" name="filename">
        </p>
    </dl>

        <label>Recipe name :</label></br>
        <input type="text" name="recipe_name" placeholder="change your recipe name"
                  style= "
                  width: 250px;
                  height:70px;
                  border: 4px solid orange;
                  padding: 10px;
                  margin: 20px;
                  display: inline-block;
                  font-family: 'Arapey';
                  font-weight: 400;
                  font-size: 15px;" ></br>
        <label>Description :</label></br>
        <textarea type="text" name="description"placeholder="change your description..."
                  style="
                  width: 400px;
                  height:200px;
                  border: 4px solid orange;
                  padding: 10px;
                  margin: 20px;
                  display: inline-block;
                  font-family: 'Arapey';
                  font-weight: 400;
                  font-size: 20px;" ></textarea></br>
        <label>Ingredients :</label></br>
    <textarea type="text" name="ingredients" type="text" name="ingredients"
               placeholder="update the ingredients..."
                  style="
                  width: 400px;
                  height:200px;
                  border: 4px solid orange;
                  padding: 10px;
                  margin: 20px;
                  display: inline-block;
                  font-family: 'Arapey';
                  font-weight: 400;
                  font-size: 20px;"></textarea></br>
        <label>Instructions :</label></br>
        <textarea type="text" name="instructions" placeholder="update you instructions..."
                  style="
                  width: 400px;
                  height:200px;
                  border: 4px solid orange;
                  padding: 10px;
                  margin: 20px;
                  display: inline-block;
                  font-family: 'Arapey';
                  font-weight: 400;
                  font-size: 20px;"></textarea></br>
            <label>Publisher :</label></br>
        <input type="text" name="publisher" placeholder="change the publisher name"
                  style= "
                  width: 250px;
                  height:70px;
                  border: 4px solid orange;
                  padding: 10px;
                  margin: 20px;
                  display: inline-block;
                  font-family: 'Arapey';
                  font-weight: 400;
                  font-size: 15px;" ></br>
         <label>Publish Date :</label></br>
        <input type="text" name="publish_date"placeholder="provide the update date"
                  style= "
                  width: 250px;
                  height:70px;
                  border: 4px solid orange;
                  padding: 10px;
                  margin: 20px;
                  display: inline-block;
                  font-family: 'Arapey';
                  font-weight: 400;
                  font-size: 15px;" ></br>
        <button type="submit" class="btn-hover color-6" >Update</button>


    </form>
</body>
</html>